@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --sidebar-height: 90vh;
}
::-webkit-scrollbar {
  height: 0.4rem;
}
::-webkit-scrollbar-track {
  padding-block: 1.8rem;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 0.8rem;
  margin-block: 0.2rem;
  background-color: hsl(160, 100%, 15%);
}
::-webkit-scrollbar-thumb:hover {
  background-color: hsl(160, 100%, 55%);
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
